In [1]:
# bibliotecas

import pandas as pd
import numpy as np

In [7]:
# bases de dados
fluxo_caixa = 'assets/fluxo-caixa.xlsx'

despesas = pd.read_excel(fluxo_caixa, "despesas", engine = 'openpyxl')
ent_transf = pd.read_excel(fluxo_caixa, "ent_transf", engine = 'openpyxl')
tot_cat = pd.read_excel(fluxo_caixa, 'tot_cat', engine = 'openpyxl')
tot_mes = pd.read_excel(fluxo_caixa, 'tot_mes', engine = 'openpyxl')
categorias = pd.read_excel(fluxo_caixa, 'categorias', engine = 'openpyxl')

In [9]:
print(ent_transf)

         data    valor  banco de origem  banco de destino  mÃªs   ano       .1  \
0  2023-01-05  3565.00              NaN               NaN    1  2023 NaN  NaN
1  2023-01-05   216.00              NaN               NaN    1  2023 NaN  NaN
2  2023-01-05   171.56              NaN               NaN    1  2023 NaN  NaN
3  2023-02-01  3565.00              NaN               NaN    2  2023 NaN  NaN
4  2023-02-01   216.00              NaN               NaN    2  2023 NaN  NaN
5  2023-02-01    86.00              NaN               NaN    2  2023 NaN  NaN
6  2023-03-01  3565.00              NaN               NaN    3  2023 NaN  NaN
7  2023-03-01   216.00              NaN               NaN    3  2023 NaN  NaN
8  2023-04-01  3565.00              NaN               NaN    4  2023 NaN  NaN
9  2023-04-01   216.00              NaN               NaN    4  2023 NaN  NaN
10 2023-05-01  3565.00              NaN               NaN    5  2023 NaN  NaN
11 2023-05-01   216.00              NaN               NaN    5  2023 NaN  NaN
12 2023-06-01  3565.00              NaN               NaN    6  2023 NaN  NaN
13 2023-06-01   216.00              NaN               NaN    6  2023 NaN  NaN
14 2023-07-01  3565.00              NaN               NaN    7  2023 NaN  NaN
15 2023-07-01   216.00              NaN               NaN    7  2023 NaN  NaN
16 2023-08-01  3565.00              NaN               NaN    8  2023 NaN  NaN
17 2023-08-01   216.00              NaN               NaN    8  2023 NaN  NaN
18 2023-09-01  3565.00              NaN               NaN    9  2023 NaN  NaN
19 2023-09-01   216.00              NaN               NaN    9  2023 NaN  NaN
20 2023-10-01  3565.00              NaN               NaN   10  2023 NaN  NaN
21 2023-10-01   216.00              NaN               NaN   10  2023 NaN  NaN
22 2023-11-01  3565.00              NaN               NaN   11  2023 NaN  NaN
23 2023-11-01   216.00              NaN               NaN   11  2023 NaN  NaN
24 2023-12-01  3565.00              NaN               NaN   12  2023 NaN  NaN
25 2023-12-01   216.00              NaN               NaN   12  2023 NaN  NaN

     .2   .3  ...   .10   .11   .12   .13   .14   .15   .16   .17   .18   .19
0   NaN  NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1   NaN  NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2   NaN  NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3   NaN  NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4   NaN  NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
5   NaN  NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
6   NaN  NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
7   NaN  NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
8   NaN  NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
9   NaN  NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
10  NaN  NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
11  NaN  NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
12  NaN  NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
13  NaN  NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
14  NaN  NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
15  NaN  NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
16  NaN  NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
17  NaN  NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
18  NaN  NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
19  NaN  NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
20  NaN  NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
21  NaN  NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
22  NaN  NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
23  NaN  NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
24  NaN  NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
25  NaN  NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[26 rows x 26 columns]