In [1]:
# bibliotecas

import pandas as pd
import numpy as np
import decimal

In [2]:
# bases de dados

fluxo_caixa = 'assets/fluxo-caixa.xlsx'

despesas = pd.read_excel(fluxo_caixa, "despesas", engine = 'openpyxl')
ent_transf = pd.read_excel(fluxo_caixa, "ent_transf", engine = 'openpyxl')
tot_cat = pd.read_excel(fluxo_caixa, 'tot_cat', engine = 'openpyxl')
tot_mes = pd.read_excel(fluxo_caixa, 'tot_mes', engine = 'openpyxl')
categorias = pd.read_excel(fluxo_caixa, 'categorias', engine = 'openpyxl')
pg_faturas = pd.read_excel(fluxo_caixa, 'pg_faturas', engine = 'openpyxl')

c:\Users\Hydra\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

In [26]:
# somatório banco inter

mes = 'Janeiro'
ano = 2023
selected = "casa"

despesas2 = despesas

despesas2['mes'] = despesas2['mes'].str.capitalize()
despesas2 = despesas2[despesas2['ano'] == ano]
despesas2 = despesas2[despesas2['mes'] == mes]

tabela_detalhamento = despesas2.groupby(['macro'])['valor'].sum().sort_values(ascending = False).reset_index()

tabela_detalhamento['valor'] = tabela_detalhamento['valor'].map('{:,.2f}'.format)

tabela_detalhamento2 = tabela_detalhamento.rename(columns = {
"macro": 'macro categorias',
})

tabela_detalhamento3 = tabela_detalhamento2.to_dict(orient = 'records')

row_aux = '4,'

macro = pd.DataFrame(tabela_detalhamento3, columns = ['macro categorias', 'valor'])
macro['id'] = macro.index
row = row_aux.replace(',', '')
macro = macro[macro['id'] == int(row)]
selected = str(macro.iloc[0]['macro categorias'])
despesas3 = despesas2[despesas2['macro'] == selected]

despesas3['mes'] = despesas3['mes'].str.capitalize()
despesas3 = despesas3[despesas3['ano'] == ano2]
despesas3 = despesas3[despesas3['mes'] == mes]

sum_cat = despesas3.groupby(['categoria'])['valor'].sum().sort_values(ascending = True).reset_index()

# print(macro)
# print(selected)
print(sum_cat)

  macro categorias   valor  id
4        vestuário  179.86   4
vestuário
  categoria   valor
0    roupas  179.86

In [40]:

# print(sum_cat.columns)

         data               categoria    valor          canal pago?  mes_num  \
0  2023-01-01                  móveis   299.32   cartão inter   não      1.0
1  2023-01-01          google storage     6.99  cartão nubank   não      1.0
2  2023-01-01          estacionamento     9.00  cartão nubank   não      1.0
3  2023-01-01  supermercado / padaria    10.14  cartão nubank   não      1.0
4  2023-01-01         higiene pessoal    23.90  cartão nubank   não      1.0
5  2023-01-01                 spotify    24.90  cartão nubank   não      1.0
6  2023-01-01  supermercado / padaria    31.00  cartão nubank   não      1.0
7  2023-01-01              cosméticos    34.43  cartão nubank   não      1.0
8  2023-01-01              comer fora    38.09  cartão nubank   não      1.0
9  2023-01-01                    uber    44.97  cartão nubank   não      1.0
10 2023-01-01       utensílios / casa    50.47  cartão nubank   não      1.0
11 2023-01-01            medicamentos    54.68  cartão nubank   não      1.0
12 2023-01-01                    uber    54.94  cartão nubank   não      1.0
13 2023-01-01  supermercado / padaria    63.00  cartão nubank   não      1.0
14 2023-01-01                  móveis    89.94  cartão nubank   não      1.0
15 2023-01-01              comer fora   100.70  cartão nubank   não      1.0
16 2023-01-01              comer fora   120.67  cartão nubank   não      1.0
17 2023-01-01                  móveis   120.92  cartão nubank   não      1.0
18 2023-01-01                academia   123.31  cartão nubank   não      1.0
19 2023-01-01  supermercado / padaria   126.77  cartão nubank   não      1.0
20 2023-01-01                 corrida   132.00  cartão nubank   não      1.0
21 2023-01-01         óculos / lentes   144.16  cartão nubank   não      1.0
22 2023-01-01       utensílios / casa   171.55  cartão nubank   não      1.0
23 2023-01-01                  roupas   179.86  cartão nubank   não      1.0
24 2023-01-01                 das mei    65.60            NaN   não      1.0
25 2023-01-01                  eletro   110.00            NaN   não      1.0
26 2023-01-01                    vivo   132.68            NaN   não      1.0
27 2023-01-01                      oi   149.84            NaN   não      1.0
28 2023-01-01                 aluguel  1820.00            NaN   não      1.0
29 2023-01-09                  eletro    54.95            NaN   não      1.0
30 2023-01-09  supermercado / padaria   100.00            NaN   não      1.0
31 2023-01-09                   rolês   175.00            NaN   não      1.0

        mes     ano        macro  fatura paga  ...  .5   .6   .7   .8   .9  \
0   Janeiro  2023.0         casa          0.0  ... NaN  NaN  NaN  NaN  NaN
1   Janeiro  2023.0   streamings          0.0  ... NaN  NaN  NaN  NaN  NaN
2   Janeiro  2023.0   transporte          0.0  ... NaN  NaN  NaN  NaN  NaN
3   Janeiro  2023.0  alimentação          0.0  ... NaN  NaN  NaN  NaN  NaN
4   Janeiro  2023.0        saúde          0.0  ... NaN  NaN  NaN  NaN  NaN
5   Janeiro  2023.0   streamings          0.0  ... NaN  NaN  NaN  NaN  NaN
6   Janeiro  2023.0  alimentação          0.0  ... NaN  NaN  NaN  NaN  NaN
7   Janeiro  2023.0        saúde          0.0  ... NaN  NaN  NaN  NaN  NaN
8   Janeiro  2023.0  alimentação          0.0  ... NaN  NaN  NaN  NaN  NaN
9   Janeiro  2023.0   transporte          0.0  ... NaN  NaN  NaN  NaN  NaN
10  Janeiro  2023.0         casa          0.0  ... NaN  NaN  NaN  NaN  NaN
11  Janeiro  2023.0        saúde          0.0  ... NaN  NaN  NaN  NaN  NaN
12  Janeiro  2023.0   transporte          0.0  ... NaN  NaN  NaN  NaN  NaN
13  Janeiro  2023.0  alimentação          0.0  ... NaN  NaN  NaN  NaN  NaN
14  Janeiro  2023.0         casa          0.0  ... NaN  NaN  NaN  NaN  NaN
15  Janeiro  2023.0  alimentação          0.0  ... NaN  NaN  NaN  NaN  NaN
16  Janeiro  2023.0  alimentação          0.0  ... NaN  NaN  NaN  NaN  NaN
17  Janeiro  2023.0         casa          0.0  ... NaN  NaN  NaN  NaN  NaN
18  Janeiro  2023.0        saúde          0.0  ... NaN  NaN  NaN  NaN  NaN
19  Janeiro  2023.0  alimentação          0.0  ... NaN  NaN  NaN  NaN  NaN
20  Janeiro  2023.0        saúde          0.0  ... NaN  NaN  NaN  NaN  NaN
21  Janeiro  2023.0        saúde          0.0  ... NaN  NaN  NaN  NaN  NaN
22  Janeiro  2023.0         casa          0.0  ... NaN  NaN  NaN  NaN  NaN
23  Janeiro  2023.0    vestuário          0.0  ... NaN  NaN  NaN  NaN  NaN
24  Janeiro  2023.0      tarifas          NaN  ... NaN  NaN  NaN  NaN  NaN
25  Janeiro  2023.0         casa          NaN  ... NaN  NaN  NaN  NaN  NaN
26  Janeiro  2023.0       contas          NaN  ... NaN  NaN  NaN  NaN  NaN
27  Janeiro  2023.0       contas          NaN  ... NaN  NaN  NaN  NaN  NaN
28  Janeiro  2023.0         casa          NaN  ... NaN  NaN  NaN  NaN  NaN
29  Janeiro  2023.0         casa          NaN  ... NaN  NaN  NaN  NaN  NaN
30  Janeiro  2023.0  alimentação          NaN  ... NaN  NaN  NaN  NaN  NaN
31  Janeiro  2023.0       social          NaN  ... NaN  NaN  NaN  NaN  NaN

     .10   .11   .12   .13   .14
0    NaN   NaN   NaN   NaN   NaN
1    NaN   NaN   NaN   NaN   NaN
2    NaN   NaN   NaN   NaN   NaN
3    NaN   NaN   NaN   NaN   NaN
4    NaN   NaN   NaN   NaN   NaN
5    NaN   NaN   NaN   NaN   NaN
6    NaN   NaN   NaN   NaN   NaN
7    NaN   NaN   NaN   NaN   NaN
8    NaN   NaN   NaN   NaN   NaN
9    NaN   NaN   NaN   NaN   NaN
10   NaN   NaN   NaN   NaN   NaN
11   NaN   NaN   NaN   NaN   NaN
12   NaN   NaN   NaN   NaN   NaN
13   NaN   NaN   NaN   NaN   NaN
14   NaN   NaN   NaN   NaN   NaN
15   NaN   NaN   NaN   NaN   NaN
16   NaN   NaN   NaN   NaN   NaN
17   NaN   NaN   NaN   NaN   NaN
18   NaN   NaN   NaN   NaN   NaN
19   NaN   NaN   NaN   NaN   NaN
20   NaN   NaN   NaN   NaN   NaN
21   NaN   NaN   NaN   NaN   NaN
22   NaN   NaN   NaN   NaN   NaN
23   NaN   NaN   NaN   NaN   NaN
24   NaN   NaN   NaN   NaN   NaN
25   NaN   NaN   NaN   NaN   NaN
26   NaN   NaN   NaN   NaN   NaN
27   NaN   NaN   NaN   NaN   NaN
28   NaN   NaN   NaN   NaN   NaN
29   NaN   NaN   NaN   NaN   NaN
30   NaN   NaN   NaN   NaN   NaN
31   NaN   NaN   NaN   NaN   NaN

[32 rows x 26 columns]